.POPUP
{
	color: white;
	background-color: blue;
}
.note
{
	background-color: rgb(210, 210, 210);
	border-width: 1px;
	border-top-color: white;
	border-bottom-color: rgb(210, 210, 210);
	border-left-color: white;
	border-right-color: black;
	border-style: solid;
	padding: 3px 3px 3px 3px;
	font-size: smaller;
}
.note1
{
	background-color: rgb(210, 210, 210);
	border-width: 1px;
	border-top-color: rgb(210, 210, 210);
	border-bottom-color: black;
	border-left-color: white;
	border-right-color: black;
	border-style: solid;
	font-size: smaller;
}
.Help
{
	position: absolute; 
	posTop: 0; 
	posLeft: 0;
	border-width: 1px; 
	border-style: solid;
	background-color: rgb(240, 255, 220); 
	color: black;
	font-size: smaller;
}
