<head>
<meta http-equiv="Content-Type" content="text/html; charset=ks_c_5601-1987">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<TITLE>GUI와 대화식 입력기법</TITLE>
</head>
<frameset rows ="111,*" border="0" frameborder="0">
    <frame noresize scrolling="no" src="6_4_menu.html">
    <frameset cols="45,755,*">
    <frame name="_top1" noresize scrolling ="no" src="6_left.html">
      <frame name="_top1" src = "6_4_body.html" scrolling="auto" marginwidth="0" marginheight="0">
    <frame name="_top2" src="6_right.html" scrolling="auto" marginwidth="0" marginheight="0">
    </frameset>    <noframes>
    <body bgcolor="white" text="black" link="blue" vlink="purple" alink="red">
    <p> 페이지를 보려면, 프레임을 볼 수 있는 브라우저가 필요합니다.</p>
    </body>
    </noframes>
</frameset>