<head>
<meta http-equiv="Content-Type" content="text/html; charset=ks_c_5601-1987">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<title>Painter의 개요</title>
</head>
<frameset rows ="143,*" border="0" frameborder="0">
    <frame noresize scrolling="no" src="b_1_menu.html">
    <frameset cols="44,756,*">
    <frame name="_top1" noresize scrolling ="no" src="b_left.html">
<frame name="_top1" src = "b_1_body.html" scrolling="auto" marginwidth="0" marginheight="0">
    <frame name="_top2" src="b_right.html" scrolling="auto" marginwidth="0" marginheight="0">
    </frameset>
    <noframes>
    <body bgcolor="white" text="black" link="blue" vlink="purple" alink="red">
    <p>이 페이지를 보려면, 프레임을 볼 수 있는 브라우저가 필요합니다.</p>
    </body>
    </noframes>
</frameset>